<!DOCTYPE html>
<html lang="en">

<head>
<%- include('__head.ejs') %>
</head>

<body style="background: rgb(52, 91, 199);color:white;">
    <div style="top:40%;" class="position-absolute w-100">
        <p>
            <h1 class="position-relative text-center">
                <i class="fas fa-exclamation-triangle pr-4"></i>Página não encontrada<sup>404!</sup>
            </h1>
        </p>
        <p>
            <h3 class="position-relative text-center">
                <a class="btn btn-outline-light" href="/" role="button">Início</a>
            </h3>
        </p>
    </div>
</body>

</html>