<nav class="navbar navbar-expand-lg navbar-dark flex-column fixed-top" id="mainNav">
    <div class="container">
        <a class="underlineSlide navbar-brand" href="/"> go Rush!
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="underlineSlide nav-link" href="/profile">
                        <i class="fas fa-user"></i> Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="underlineSlide nav-link" href="/store">
                        <i class="fas fa-shopping-cart"></i> Loja
                    </a>
                </li>
                <li class="nav-item">
                    <a class="underlineSlide nav-link" href="/help">
                        <i class="fas fa-question-circle"></i> Ajuda
                    </a>
                </li>
                <li class="nav-item">
                    <a class="underlineSlide nav-link" href="/insert">
                        <%# <i class="fas fa-share-square"></i>  %>
                        <i class="fas fa-share"></i>
                        Enviar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="underlineSlide nav-link" href="/exit">
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Give a padding -->
<div class="position-relative" style="height:6em"></div>
<!-- !Navigation -->
