<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./__head.ejs') %>
</head>

<body>

    <!-- Navigation -->
    <%- include('./__navbar.ejs')%>

    <!-- Main Content -->
    <div class="container" style="width:40%">
        <div class="card mx-auto shadow d-inline-block p-4 mb-5 bg-white rounded">
            <div class="container">
                <div class="text-center pb-3">
                   <span class="card-link text-center px-3 py-3">
                        <i class="fas fa-dollar-sign pr-3" title="Créditos Necessários">
                        <span class="text-reset font-weight-normal">
                            30
                        </span>
                         </i>
                    </span>
                </div>
               <div class="text-center">
                    <button type="button" class="btn btn-outline-success">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
        <div class="card mx-auto shadow d-inline-block p-4 mb-5 bg-white rounded">
            <div class="container">
                <div class="text-center pb-3">
                   <span class="card-link text-center px-3 py-3">
                        <i class="fas fa-dollar-sign pr-3" title="Créditos Necessários">
                        <span class="text-reset font-weight-normal">
                            30
                        </span>
                         </i>
                    </span>
                </div>
               <div class="text-center">
                    <button type="button" class="btn btn-outline-success">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
        <div class="card mx-auto shadow d-inline-block p-4 mb-5 bg-white rounded">
            <div class="container">
                <div class="text-center pb-3">
                   <span class="card-link text-center px-3 py-3">
                        <i class="fas fa-dollar-sign pr-3" title="Créditos Necessários">
                        <span class="text-reset font-weight-normal">
                            30
                        </span>
                         </i>
                    </span>
                </div>
               <div class="text-center">
                    <button type="button" class="btn btn-outline-success">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
        <div class="card mx-auto shadow d-inline-block p-4 mb-5 bg-white rounded">
            <div class="container">
                <div class="text-center pb-3">
                   <span class="card-link text-center px-3 py-3">
                        <i class="fas fa-dollar-sign pr-3" title="Créditos Necessários">
                        <span class="text-reset font-weight-normal">
                            30
                        </span>
                         </i>
                    </span>
                </div>
               <div class="text-center">
                    <button type="button" class="btn btn-outline-success">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
        <div class="card mx-auto shadow d-inline-block p-4 mb-5 bg-white rounded">
            <div class="container">
                <div class="text-center pb-3">
                   <span class="card-link text-center px-3 py-3">
                        <i class="fas fa-dollar-sign pr-3" title="Créditos Necessários">
                        <span class="text-reset font-weight-normal">
                            30
                        </span>
                         </i>
                    </span>
                </div>
               <div class="text-center">
                    <button type="button" class="btn btn-outline-success">
                        Comprar
                    </button>
                </div>
            </div>
        </div>

    </div>
    <!-- Pager -->



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.js "></script>

</body>

</html>