<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>goRush</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
</head>

<body style="background: rgb(52, 91, 199);color:white;">
    <div style="position: fixed;top:38%;left:30%;z-index: 0;">
        <p>
            <h1>
                <i class="fas fa-exclamation-triangle pr-4"></i>Página não encontrada<sup>404!</sup>
            </h1>
        </p>
        <p>
            <h3 class="text-center">
                <a class="btn btn-outline-light" href="/" role="button">Início</a>
            </h3>
        </p>
    </div>
</body>

</html>